@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");
.flex {
  display: flex;
  justify-content: center;
}

.profile {
  width: 15%;
  margin-right: 50px;
  background-color: #ffbcd1;
  border-radius: 50px;
  padding: 30px;
  flex-direction: column;
  font-family: "Poppins", sans-serif;
}
.mainContainer {
  background-color: #ffffff;
  padding: 50px 100px 50px 100px;
}
.dividerIcons {
  width: 20%;
  margin-right: 50px;
  background-color: #e4c6ff;
  border-radius: 50px;
  padding: 30px;
  flex-direction: column;
}
.welcome-user {
  display: flex;
  justify-content: center;
  font-family: "Poppins", sans-serif;
}

.yourscore {
  margin-top: 40px;
  font-family: "Poppins", sans-serif;
}

.userDetails {
  margin-top: 40px;
  font-family: "Poppins", sans-serif;
}

.tt {
  text-align: center;
  font-family: "Poppins", sans-serif;
}

h2 {
  text-align: center;
  font-size: 120px;
  font-family: "Poppins", sans-serif;
}
p {
  font-family: "Poppins", sans-serif;
}
.logOutButton {
  margin-top: 750px;
  display: flex;
  justify-content: center;
  font-family: "Poppins", sans-serif;
}

button {
  width: 7em;
  height: 3em;
  border-radius: 5px;
  font-size: 15px;
  font-weight: 600;
  border: solid 0.5px#CE7BB0;
  margin-top: 7px;
  background-color: #ffffff;
  position: relative;
  overflow: hidden;
  z-index: 1;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
}

button::before {
  content: "";
  width: 0;
  height: 3em;
  border-radius: 5px;
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(to right, #ce7bb0 0%, #ce7bb0 100%);
  transition: 0.5s ease;
  display: block;
  z-index: -1;
}

button:hover::before {
  width: 9em;
}

.loginbutton:hover::before {
  width: 9em;
}

.FirstTwo {
  height: 400px;
  justify-content: space-between;
  gap: 100px;
}

.MoreTwo {
  gap: 100px;
  flex-direction: row-reverse;
}

.Carbon {
  width: 500%;
  /* border: #000000 2px solid; */
}

.CarbonFootprintImage {
  height: 450px;
}
.InvestmentImage {
  height: 370px;
}

.Investment {
  width: 500%;
}

.cc {
  width: 450px;
  height: 300px;
}

img {
  max-height: 100%;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: #000000;
}

.LastTwo {
  margin-top: 50px;
  height: 400px;
  gap: 10%;
  margin-bottom: 50px;
}

.cm {
  height: 350px;
}

.Community {
  width: 450%;
}

.ji {
  height: 350px;
}

/* FOOTER */

.footerContainer {
  height: 300px;
  justify-content: space-between;
  padding: 20px;
  gap: 70px;
}

.LogoAndText {
  width: 25%;
  flex-direction: column;
}

.logo .logotext {
  padding: 20px;
}

.AboutInfo {
  width: 75%;
  justify-content: space-around;
  padding: 50px;
}

.list {
  list-style: none;
}

.gg {
  text-decoration: none;
}

.alink {
  text-decoration: none;
  color: black;
}

/* sub-footer */

hr {
  height: 4px;
  background-color: black;
}

.sub-footer {
  height: 50px;
}

.icons {
  padding-top: 20px;
  padding-bottom: 25px;
  width: 70%;
  justify-content: space-between;
  text-align: center;
  padding-left: 35%;
  font-size: xx-large;
}

.gg {
  color: #8a2ce2;
  text-decoration: none;
}

.logo {
  height: 15rem;
}

.Community{
  text-align: center;
  margin-top: 2rem;
}

.btn3 {
  margin-top: 2rem;
}

.sub-footer {
  margin-right: 15rem;
}